/*
 * Color palette
 * https://coolors.co/
 * #F7FFF7 - almost white
 * #343434 - dark gray -almost black
 * #2F3061 - blue dark
 * #FFE66D - yellow
 * #A1C6D7 - blue light
 *
 * */


/* Global Styles 
 * ----------------------------------------------------------------------------------*/
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}


body {
	color: black;
	background: white;
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
	font-size: 17px;
	line-height: 1.5;
}

.content-wrap {
	width: 80%;
	margin: 0 auto;
	padding: 60px 0;
}


h1 {
	font-size: 90px;
}

h2 {
	font-size: 40px;
	color: Black;
	text-decoration: underline red;
}

h1, h2 {
	font-family: 'Orbitron', sans-serif;
	font-weight: 400;
}

.circular--square {
	display: block;
	border-radius: 50%;
	margin: 0 auto;
}

.name {
	color: Red;
	text-align: center;
}

.clear {
	clear: both;
}

.details {
	color: black;
	text-decoration: none;
}

dt {
	color: ;
}


/* Profile
 * * ----------------------------------------------------------------------------------*/
header{
	margin: 0;
        padding: 0;
	background: black;
	color: cyan;
	padding: 10px 0;
}      

.header {
	padding: 10px;
	width: 80%;
	margin: 0 auto;
}

/* Summary
 * -----------------------------------------------------------------------------------*/

/* Skills
 * * ----------------------------------------------------------------------------------*/
.skills {
}

/* Experience
 * * ----------------------------------------------------------------------------------*/
.Experience {
}


/* Education
 * * ----------------------------------------------------------------------------------*/
.Education {
}


/* Interests
 * * ----------------------------------------------------------------------------------*/
.Interests {
}

/* Footer
 * ------------------------------------------------------------------------------------*/
footer {
	background: Black;
	color: cyan;
}



















